<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Cocktail Palooza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="home-banner">
      <h1>Cocktail Palooza</h1>
    </div>

    <div class="container justify-content-center">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </body>

</html>
